body {
    margin: 0px;
    /*background-color: #05BAD4;*/
    background: #270722;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 35px;
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 16px;
    color: #270722;
}

.Contenedor {
    width: 100%;
    height: 1000px;
    background: radial-gradient(circle, #5fc5d4 49%, #05BAD4);
}

.Contenedor:nth-child(2n+3) {
    background-color: #faf7f7;
    background: radial-gradient(circle, #e2e0e0 49%, #faf7f7);
}

::-webkit-scrollbar {
    background-color: #270722;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #838383;
    border-radius: 5px;
}


/*Componentes del header*/

#header {
    width: 100%;
    position: fixed;
    display: flex;
    background-color: #270722;
    flex-wrap: wrap;
    color: #faf7f7;
    z-index: 10;
    top: 0;
}

#header_segunda_fila {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3%;
}

#Logo {
    width: 25%;
    flex-wrap: wrap;
}

#Logo img {
    width: 100%;
    filter: grayscale(100%);
}

#Componentes_header {
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Componentes_header_movil {
    background-color: #270722;
    color: #faf7f7;
    font-size: 3vw;
    width: 50%;
    position: fixed;
    top: 0%;
    right: 0%;
    display: none;
    flex-wrap: wrap;
    z-index: 9;
    box-shadow: -2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), -6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), -12.5px 12.5px 10px rgba(0, 0, 0, 0.035), -22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), -41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), -100px 100px 80px rgba(0, 0, 0, 0.07);
}

#Componentes_header_movil div {
    width: 100%;
    padding: 5% 5% 5% 5%;
    border-bottom: 1px solid rgba(239, 239, 239, 0.10);
}

#Componentes_header_movil div:hover {
    background-color: #faf7f7;
}

#Componentes_header_movil a {
    width: 100%;
    text-decoration: none;
    color: #faf7f7;
}

.menu_hover {
    color: #270722 !important;
}

.relleno {
    padding-top: 15% !important;
    color: #faf7f7;
}

#Burger {
    width: 10%;
    justify-self: flex-end;
}

#Burger img {
    width: 80%;
}

#Burger_in {
    text-align: right;
}


/*Componentes del inicio*/

#Inicio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#Inicio div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#Inicio div img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#Inicio div div {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

.texto {
    width: 100%;
}


/*Componentes paginas online*/

#Pagina_online {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.titulo {
    width: 100%;
    height: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Galeria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pagina {
    width: 20%;
}

.imagen img {
    width: 100%;
}

.nombre {
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* Efecto imagenes*/

.card {
    /*width: 300px;*/
    height: 350px;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #e0fbfc;
}

.card * {
    transition: 0.3s ease all;
}

.card img {
    margin: 0;
    /*width: 300px;
    height: 224px;*/
    object-fit: cover;
    display: block;
}

.card h3 {
    margin: 0;
    padding: 12px 12px 12px;
    line-height: 32px;
    font-weight: 500;
    font-size: 20px;
}

.card .focus-content {
    display: block;
    padding: 8px 12px;
}

.card p {
    margin: 0;
    line-height: 1.5;
}

.card:hover img,
.card:focus-within img {
    margin-top: -20px;
}

.card:hover h3,
.card:focus-within h3 {
    padding: 8px 12px 0;
}


/* elementos resolucion */

.desaparecer_movil {
    display: none !important;
}


/* Texto animado*/

.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 2em;
    width: 100%;
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}